arxiv
beautifulsoup4
bibtexparser==1.4.4
chainlit
cuml-cu13
cupy-cuda13x
datasets
langchain-ollama
levenshtein
matplotlib
mwparserfromhell
nltk
numpy
ollama
openai
pandas
playwright
python-doi==0.2.0
requests
scikit-learn
shap
sentence-transformers
tiktoken
torch
tqdm
transformers[torch]